<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">

      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row justify-content-center">
    <div class=" col-lg-9 card-wrapper">

      <div class=" card">
        <div class=" card-header border-0">
          <div class=" row">
            <div class=" col-6"><h3 class=" mb-0">Members</h3></div>

            <div class=" col-6 text-right">
              <a
                class=" btn btn-sm btn-primary btn-round btn-icon"
                href="javascript:void(0)"
                tooltip="Edit product"
                placement="top"
              >
            <span class=" btn-inner--icon">
              <i class=" fas fa-user-edit"> </i>
            </span>
                <span class=" btn-inner--text"> Add member </span>
              </a>
            </div>
          </div>
        </div>

        <div class=" table-responsive">
          <table class=" table align-items-center table-flush table-striped">
            <thead class=" thead-light">
            <tr>
              <th>Full name</th>


              <th>Email</th>

              <th></th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let member of members_and_admins_of_group.members_of_group ">
              <td class=" table-user">
                <img
                  class=" avatar rounded-circle mr-3"
                  src="assets/img/theme/team-1.jpg"
                />

                <b> {{member.full_name}} </b>
              </td>
              <td>
                <a class=" font-weight-bold" href="javascript:void(0)">
                  {{member.user.email}}
                </a>
              </td>
              <td class=" table-actions">
                <a class=" table-action table-action-delete" tooltip="Delete product" placement="top">
                  <i class=" fas fa-trash"> </i>
                </a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<app-user-dashboard [isAdmin]=true [groipId]=groupId></app-user-dashboard>
