<div class=" header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">

      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" row justify-content-center">
    <div class=" col-lg-9 card-wrapper">
      <div class="card" >

<!--        <div  class=" card-header"><h3 class=" h3 mb-0">Your expenses</h3></div>-->
        <div class=" card-header border-0">
          <div class=" row">
            <div class=" col-6"><h3 class=" mb-0">Your Expenses</h3></div>

            <div *ngIf="isAdmin" class=" col-6 text-right">
              <app-modal-create-expense [groupId]="groipId"></app-modal-create-expense>

            </div>
          </div>
        </div>
        <div  id="list-expenses" class=" card-body my_scroll_div">
          <ul class="list-group list-group-flush list my--3" >
            <li *ngFor="let expense of expenses" class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/team-2.jpg"
                    />
                  </a>
                </div>

                <div class=" col ml--2">
                  <div class=" row ">
                    <div class=" col-4 col-md-4"><span> Date: {{getDate(expense.created_date)}} </span></div>
                    <div class=" col-4 col-md-4"><span> Group: {{getGroupName(expense.buddy_group)}} </span></div>
                    <div class=" col-4 col-md-4"><span> Currency: {{expense.currency}} </span></div>

                  </div>

                  <div class=" row ">
                    <div class=" col-4 col-md-4"><span> Title: {{expense.title}} </span></div>
                    <div class=" col-8 col-md-8"><span> Description: {{ expense.description }} </span></div>
                  </div>

                  <div class=" row ">
                    <div class=" col-4 col-md-4"><span> Payable amount: {{expense.total_amount}} </span></div>

<!--                    <div class=" col-8 col-md-8"><span> Paid amount: 10 </span></div>-->
                  </div>
                </div>

                <div class=" col-auto">
                  <app-modal-list-settle-up [settle_up_id]="expense.id"></app-modal-list-settle-up>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

