<button class="btn btn-block btn-primary mb-3" (click)="open(classic,'' , 'lg')">
  View Details
</button>
<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-6 col-md-6">
        <h6 class="modal-title" id="modal-title-default">Expense {{expenseName}}</h6>

      </div>

      <div *ngIf="isAdmin" class=" col-5 col-md-5 text-right">
        <app-modal-settle-expense-up [expensa_id]="settle_up_id" [groupId]="groupId"></app-modal-settle-expense-up>
      </div>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class=" table-responsive my_scroll_div">
        <table class=" table align-items-center table-flush">
          <thead class=" thead-light">
          <tr>
            <th class=" sort" data-sort="budget" scope="col">Date</th>
            <th class=" sort" data-sort="name" scope="col">User</th>


            <th class=" sort" data-sort="status" scope="col">Amount</th>

          </tr>
          </thead>

          <tbody  class=" list">

          <tr *ngFor="let settle_up of list_settle_up">

            <td class=" budget">{{settle_up.created_date}}</td>

            <td class=" budget">{{ settle_up.who_settle_simple_payment_up.full_name }}</td>

            <td class=" budget">{{settle_up.amount_payment }} EUR</td>


          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
