<a
  class=" btn btn-sm btn-primary btn-round btn-icon"
  href="javascript:void(0)"
  tooltip="Edit product"
  placement="top"
  (click)="open(classic,'' , 'lg')"
>
            <span class=" btn-inner--icon">
              <i class=" fas fa-user-edit"> </i>
            </span>

  <span class=" btn-inner--text"> New expense </span>
</a>

<ng-template #classic let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <div class="col-6 col-md-6">
        <h6 class="modal-title" id="modal-title-default">This is a new expesne</h6>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">

      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">Expense Creation</h3></div>
        <div class=" card-body">
          <form role="form" [formGroup]="form" >
<!--            title-->
            <div class=" form-group" >
              <label for="title" class=" form-control-label">
                Title
              </label>
              <div class=" input-group input-group-merge">
                <div class=" input-group-prepend">
                        <span class=" input-group-text">
                          <i class=" fas fa-address-book "> </i>
                        </span>
                </div>

                <input
                  id="title"
                  class=" form-control"
                  placeholder="Expense title"
                  type="text"
                  formControlName="title"
                />
              </div>
              <div *ngIf="form.get('title').invalid && form.get('title').touched" class="text-danger">
                <small *ngIf="form.get('title').errors.required">Title is required.</small>
                <small *ngIf="form.get('title').errors.alphanumeric">Title must be alphanumeric.</small>
              </div>
            </div>
            <!-- description -->
            <div class=" form-group" >
              <label for="description" class=" form-control-label">
                Description
              </label>
              <div class=" input-group input-group-merge">
                <div class=" input-group-prepend">
                        <span class=" input-group-text">
                          <i class=" fas fa-address-book "> </i>
                        </span>
                </div>

                <textarea
                  id="description"
                  rows="3"
                  class=" form-control"
                  placeholder="Expense description"
                  type="text"
                  formControlName="description"
                ></textarea>
              </div>
              <div *ngIf="form.get('description').invalid && form.get('description').touched" class="text-danger">
                <small *ngIf="form.get('description').errors.required">Description is required.</small>
                <small *ngIf="form.get('description').errors.alphanumeric">Description must be alphanumeric.</small>
              </div>
            </div>
            <!-- Amount -->
            <div class=" form-group" >
              <label for="total_amount" class=" form-control-label">
                Total Amount
              </label>
              <div class=" input-group input-group-merge">
                <div class=" input-group-prepend">
                        <span class=" input-group-text">
                          <i class=" fas fa-home"> </i>
                        </span>
                </div>

                <input
                  id="total_amount"
                  class=" form-control"
                  placeholder="Expense description"
                  type="number"
                  formControlName="total_amount"
                />
              </div>
              <div *ngIf="form.get('total_amount').invalid && form.get('total_amount').touched" class="text-danger">
                <small *ngIf="form.get('total_amount').errors.numeric || form.get('total_amount').errors.required">Total amount is required and it must be numeric.</small>
              </div>
            </div>
            <!-- Currency -->
            <div class=" form-group" >
              <label for="currency_id" class=" form-control-label">
                Currency
              </label>

              <div class=" input-group input-group-merge">
                <div class=" input-group-prepend">
                        <span class=" input-group-text">
                          <i class=" fas fa-user"> </i>
                        </span>
                </div>
                <select  formControlName="currency" id="currency_id" class="form-control"  >
                  <option selected value="EUR"> EUR </option>
                  <option value="USD"> USD </option>
                </select>
                <br />
              </div>
            </div>

            <!-- Participans -->
            <div name="participantsexpenese" class=" form-group" >
              <label class=" form-control-label">
                Payment for each Participant
              </label>
              <div  name="member_expense_user" id="{{participant.id}}" *ngFor="let participant of members_and_admins_of_group " class=" input-group input-group-merge">
                <div class=" input-group-prepend">
                        <span class=" input-group-text">
                          <i class=" fas fa-user"> </i>
                        </span>
                </div>
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">{{participant.full_name}}</span>
                </div>

                <input id="value-member" type="number" class="form-control" aria-describedby="basic-addon3">
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-primary" (click)="create_expense()" >Create</button>
      <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
